Repository dotnet/winforms, pull requests merged in 2020-05, with the labels that each got.

#3188 Fix solution name in documentation
  Documentation/building.md
Labels: :books: documentation

#3203 Extract WeakRefCollection to its own file
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/ClientUtils.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/WeakRefCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripManager.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContexts.cs
Labels: code cleanup

#3211 Disable dealocking tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewRowTests.cs
Labels: test-bug

#2828 Nullable annotate ListViewGroup
  eng/Versions.props
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroup.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewGroupTests.cs
Labels: :book: documentation: breaking, area: NRT

#3079 Fixing UI WinformsControls tests
  src/Microsoft.VisualBasic/tests/IntegrationTests/Microsoft.VisualBasic.IntegrationTests/InteractionTests.cs
  src/System.Windows.Forms.Primitives/src/Properties/InternalsVisibleTo.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/ExternalTestHelpers.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/MainFormControlsTabOrder.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/System.Windows.Forms.IntegrationTests.Common.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests.Common/TestHelpers.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/WinformsControlsTest.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/MauiTestRunner.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/System.Windows.Forms.Maui.IntegrationTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
Labels: test-bug

#3217 Fix skipping TableLayoutSettings_Serialize_InvalidStringConverter_DeserializeThrowsSerializationException
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AxHostTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Layout/TableLayoutSettingsTests.cs
Labels: test-bug

#3183 Nullable annotate DataGridViewBand
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewBand.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewElement.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyStore.cs
Labels: area: NRT, enhancement

#2824 Add nullability to renderers
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/VisualStyles/VisualStyleElement.cs
  src/System.Windows.Forms/src/System/Windows/Forms/VisualStyles/VisualStyleRenderer.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/VisualStyles/VisualStyleElementTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/VisualStyles/VisualStyleRendererTests.cs
Labels: :book: documentation: breaking, area: NRT

#2778 Null reference type annotations for the cursor API
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/Cursor.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Cursors.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CursorsTests.cs
Labels: area: NRT, enhancement

#3226 Cleanup and nullable annotate ProfessionalColors
  src/Common/tests/SystemEventsHelper.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.FindWindowW.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SPI.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProfessionalColorTable.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ProfessionalColors.cs
  src/System.Windows.Forms/tests/UnitTests/System.Windows.Forms.Tests.csproj
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ProfessionalColorTableTests.cs
Labels: area: NRT, enhancement, test-enhancement

#3094 Add ListBox.IntegerCollection tests and fix bugs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.IntegerCollection.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBox.IntegerCollectionTests.cs
Labels: test-enhancement

#3213 Cleanup DataGridViewRow tests and add sync with DataGridViewColumn
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewColumnTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewRowTests.cs
Labels: test-enhancement

#3174 Cleanup more User32 interop
  src/System.Windows.Forms.Design/src/System/Drawing/Design/ColorEditor.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.EnumDisplayMonitors.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetDlgItemInt.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetPhysicalCursorPos.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.MONITORENUMPROC.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.MessageBeep.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/SafeNativeMethods.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.MonthCalendarAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/NumericUpDown.cs
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Screen.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiListViewTests/MauiListViewTests.cs
Labels: enhancement

#3255 Disable deadlocking test
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ProfessionalColorTableTests.cs
Labels: test-bug

#3225 Provide internals test utilities
  src/Common/tests/InternalUtilitiesForTests/src/ITestAccessor.cs
  src/Common/tests/InternalUtilitiesForTests/src/TestAccessor.cs
  src/Common/tests/InternalUtilitiesForTests/src/TestAccessors.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/EventHandlerService.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/Windows/Forms/Design/EventHandlerServiceTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/MaskedTextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Printing/PrintPreviewControl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TextBoxBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Printing/PrintPreviewControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/TestAccessorTests.cs
  src/System.Windows.Forms/tests/UnitTests/TextBoxTests.cs
Labels: test-enhancement

#3218 Fix BindingContext tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BindingContextTests.cs
Labels: test-enhancement

#3110 Add some more TabPage related tests for Visual Styles coverage
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControl.TabPageCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabPageTests.cs
Labels: test-enhancement

#3055 fix: Hide icon when `ShowIcon = false`
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.Designer.cs
  src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MainForm.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/FormTests.cs
Labels: servicing-approved

#3141 Fix RichTextBox Rtf encoding
  build-local.ps1
  src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs
  src/System.Windows.Forms/tests/UnitTests/RichTextBoxTests.cs
Labels: servicing-approved

#3071 Issue 2797 combo box selected item change forces handle creating
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ComboBoxTests.cs
Labels: servicing-approved

#3242 Strip out IsIE support
  src/System.Windows.Forms/src/Resources/SR.resx
  src/System.Windows.Forms/src/Resources/xlf/SR.cs.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.de.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.es.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.fr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.it.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ja.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ko.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pl.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.ru.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.tr.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ActiveXImpl.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowser.cs
Labels: :octocat: automerge

#3258 Fixing DataGridViewComboBoxCell: ComboBox causes application crash on handle recreating related to accessibility hierarchy tree restructuring
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
Labels: servicing-approved

#3289 Fixing DataGridViewComboBoxCell: ComboBox causes application crash on handle recreating related to accessibility hierarchy tree restructuring
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
Labels: servicing-approved

#3281 Correct exception
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb
Labels: :octocat: automerge

#3273 AccessibleObject NRT annotations
  src/System.Windows.Forms/src/PublicAPI.Shipped.txt
  src/System.Windows.Forms/src/System/Windows/Forms/AccessibleObject.EnumVariantObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/InternalAccessibleObject.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/AccessibleObjectTests.cs
Labels: area: NRT

#3268 Add ButtonBase tests
  src/System.Windows.Forms/src/System/Windows/Forms/Button.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ButtonBase.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ButtonBaseTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ButtonTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
Labels: test-enhancement

#3107 Add ListBox.ObjectCollection tests and fix bugs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.ObjectCollection.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBox.ObjectCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBoxTests.cs
Labels: :book: documentation: breaking, enhancement

#3221 Dispose everything in DesignerSurface related tests
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignSurfaceTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerHostTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/SiteNestedContainerTests.cs
Labels: test-enhancement

#3259 Cleanup and enhance DataGridViewCell testing
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRow.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewCellTests.cs
Labels: test-enhancement

#3126 Add TreeNode property tests, add missing argument validation and make idempotent
  src/System.Windows.Forms/src/System/Windows/Forms/TreeNode.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeTests.cs
Labels: :book: documentation: breaking, test-enhancement

#3171 Cleanup remaining Gdi32 interop
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.CreateBitmap.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.GetBitmapBits.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.GetRegionData.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.GetSystemPaletteEntries.cs
  src/System.Windows.Forms.Primitives/src/Interop/Gdi32/Interop.RGNDATAHEADER.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/NativeMethods.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/SafeNativeMethods.cs
  src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/UnsafeNativeMethods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.MetafileDCWrapper.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Design/ComponentEditorForm.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ErrorProvider.cs
  src/System.Windows.Forms/tests/UnitTests/SplitterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ContainerControlTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/ComponentEditorFormTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/FormTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/SplitterTests.cs
Labels: enhancement

#3085 Add ToolStripDropDownItem tests and related test
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSplitButton.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripDropDownItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
Labels: test-enhancement

#3276 update Xunit.StaFact to include bugfixes
  eng/Versions.props
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/MyServices/ClipboardProxyTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/CheckedListBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/ListBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Handlers.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/WindowsFormsSynchronizationContextTests.cs
  src/System.Windows.Forms/tests/UnitTests/WebBrowserBaseTests.cs
Labels: test-bug

#3169 Remove ifdefs from winforms
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/CodeMarkers.cs
  src/System.Windows.Forms/src/System.Windows.Forms.csproj
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ControlPaint.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.Methods.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewCell.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Form.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/DockAndAnchorLayout.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Layout/LayoutEngine.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridEntry.cs
  src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStrip.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripMenuItem.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripPanel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ToolStripPanelRow.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs
  src/System.Windows.Forms/src/misc/DbgUtil.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContext.cs
  src/System.Windows.Forms/src/misc/GDI/DeviceContext2.cs
  src/System.Windows.Forms/src/misc/GDI/MeasurementDCInfo.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsBrush.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsFont.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsGraphics.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsGraphics2.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsGraphicsCacheManager.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsPen.cs
  src/System.Windows.Forms/src/misc/GDI/WindowsRegion.cs
Labels: code cleanup

#3331 Enable and fix CA1825 warnings
  eng/Shipping.ruleset
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/BinaryEditor.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/InheritedPropertyDescriptor.cs
  src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/CodeDomDesignerLoader.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ControlCodeDomSerializer.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/MaskedTextBoxDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/TextBoxBaseDesigner.cs
  src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/ToolStripTemplateNode.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/ComponentDesignerTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignSurfaceTests.cs
  src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerHostTests.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.Ime.cs
  src/System.Windows.Forms/src/System/Windows/Forms/LinkLabel.cs
  src/System.Windows.Forms/src/System/Windows/Forms/ListBox.AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutSettings.StyleConverter.cs
  src/System.Windows.Forms/tests/UnitTests/PropertyGridInternal/PropertyGridView.GridViewListBoxAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ClipboardTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ColorDialogTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.ControlCollection.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Methods.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/CursorConverterTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/ComponentEditorFormTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ImageList.ImageCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBox.IntegerCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBox.ObjectCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListViewItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/MonthCalendarTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TabControl.TabPageCollectionTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripDropDownItemTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeNodeTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TreeViewTests.cs
  src/System.Windows.Forms/tests/UnitTests/TextBoxBaseTests.cs
Labels: enhancement

#3200 Implement WindowsFormsApplicationBase.IsSingleInstance
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/SingleInstanceHelpers.vb
  src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb
  src/Microsoft.VisualBasic.Forms/src/PublicAPI.Unshipped.txt
  src/Microsoft.VisualBasic.Forms/src/Resources/SR.resx
  src/Microsoft.VisualBasic.Forms/src/Resources/xlf/SR.cs.xlf
  src/Microsoft.VisualBasic.Forms/src/Resources/xlf/SR.de.xlf
  src/Microsoft.VisualBasic.Forms/src/Resources/xlf/SR.es.xlf
  src/Microsoft.VisualBasic.Forms/src/Resources/xlf/SR.fr.xlf
  src/Microsoft.VisualBasic.Forms/src/Resources/xlf/SR.it.xlf
  src/Microsoft.VisualBasic.Forms/src/Resources/xlf/SR.ja.xlf
  src/Microsoft.VisualBasic.Forms/src/Resources/xlf/SR.ko.xlf
  src/Microsoft.VisualBasic.Forms/src/Resources/xlf/SR.pl.xlf
  src/Microsoft.VisualBasic.Forms/src/Resources/xlf/SR.pt-BR.xlf
  src/Microsoft.VisualBasic.Forms/src/Resources/xlf/SR.ru.xlf
  src/Microsoft.VisualBasic.Forms/src/Resources/xlf/SR.tr.xlf
  src/Microsoft.VisualBasic.Forms/src/Resources/xlf/SR.zh-Hans.xlf
  src/Microsoft.VisualBasic.Forms/src/Resources/xlf/SR.zh-Hant.xlf
  src/Microsoft.VisualBasic/tests/IntegrationTests/Microsoft.VisualBasic.IntegrationTests/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBaseTests.cs
  src/Microsoft.VisualBasic/tests/IntegrationTests/VisualBasicRuntimeTest/Program.cs
  src/Microsoft.VisualBasic/tests/UnitTests/Microsoft/VisualBasic/ApplicationServices/SingleInstanceTests.cs
Labels: :octocat: automerge

#3367 Add RadioButton tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RadioButtonTests.cs
Labels: test-enhancement
