Repository dotnet/winforms, pull requests merged in 2020-07, with the labels that each got.

#3231 Fix ILegacyIAccessibleProvider.GetSelection return type
  src/System.Windows.Forms.Primitives/src/Interop/UiaCore/Interop.ILegacyIAccessibleProvider.cs
  src/System.Windows.Forms.Primitives/src/Interop/UiaCore/Interop.IRawElementProviderHwndOverride.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/InternalAccessibleObject.cs
Labels: area: interop, tenet-accessibility

#3208 Fixing issue 3206: Label control accessibility reworking
  src/System.Windows.Forms/src/System/Windows/Forms/Label.LabelAccessibleObject.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Label.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/LabelTests.cs
Labels: :mailbox_with_no_mail: waiting-author-feedback

#3097 Avoid Application.Exit in unit tests
  Winforms.sln
  src/System.Windows.Forms/src/Properties/AssemblyInfo.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiPropertyGridViewTests/MauiPropertyGridViewTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiPropertyGridViewTests/PropertyGridViewRowsAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiToolStripTests/MauiToolStripDropDownTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/MauiTests/MauiToolStripTests/MauiToolStripTests.csproj
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiPropertyGridViewTests.cs
  src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.Maui.IntegrationTests/WinformsMauiToolStripTests.cs
  src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/PropertyGridViewRowsAccessibleObjectTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripDropDownTests.cs
Labels: test-bug

#3517 Re-categorize runtime dependencies as Product
  eng/Version.Details.xml
Labels: area: infra

#3537 Add TaskDialog accessibility sample
  src/System.Windows.Forms/tests/AccessibilityTests/DialogsTesting.Designer.cs
  src/System.Windows.Forms/tests/AccessibilityTests/DialogsTesting.cs
Labels: tenet-accessibility, test-enhancement

#3544 Test screenshots
  eng/CIBuild.cmd
  eng/custom-cibuild.ps1
Labels: area: infra, test-enhancement

#3551 Add sdl config
  eng/sdl-tsa-vars.config
Labels: :octocat: automerge, area: infra

#3552 Collect memory dumps for hung tests
  eng/MemDump.win.psm1
  eng/Screenshots.win.psm1
  eng/ci.yml
  eng/custom-cibuild.ps1
Labels: area: infra, test-bug, test-enhancement

#3571 Add tests for ListViewItemCollection Find method
  src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ListView.ListViewItemCollectionTests.cs
Labels: :book: documentation: breaking, test-enhancement

#3594 [Port to 3.1 servicing]: Adding Form subtype in WinForms C# template
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/template.json
  pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/Company.WinFormsApplication1.csproj.user
Labels: servicing-consider

#3621 Improve SendKeys performance
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.GetKeyboardState.cs
  src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.SetKeyboardState.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.cs
  src/System.Windows.Forms/src/System/Windows/Forms/SendKeys.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ControlTests.Properties.cs
Labels: enhancement

#3648 Disable flaky tests
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ButtonTests.cs
  src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/TextRendererTests.cs
Labels: test-bug

#1932 Add initial interop testing framework
  Winforms.sln
  eng/configure-toolset.ps1
  global.json
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IOleClientSite.cs
  src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.IOleControlSite.cs
  src/System.Windows.Forms/src/System/Windows/Forms/AxHost.OleInterfaces.cs
  src/System.Windows.Forms/src/System/Windows/Forms/Control.AxSourcingSite.cs
  src/System.Windows.Forms/src/System/Windows/Forms/WebBrowserSiteBase.cs
  src/System.Windows.Forms/tests/InteropTests/InteropTestBase.cs
  src/System.Windows.Forms/tests/InteropTests/NativeTests/CMakeLists.txt
  src/System.Windows.Forms/tests/InteropTests/NativeTests/NativeTests.proj
  src/System.Windows.Forms/tests/InteropTests/NativeTests/WebBrowserSiteBaseInteropTests.cpp
  src/System.Windows.Forms/tests/InteropTests/NativeTests/testhelpers.h
  src/System.Windows.Forms/tests/InteropTests/System.Windows.Forms.Interop.Tests.csproj
  src/System.Windows.Forms/tests/InteropTests/WebBrowserSiteBaseInteropTests.cs
Labels: area: COM, area: interop, test-enhancement

#3679 Fixes #3663
  src/System.Windows.Forms/tests/AccessibilityTests/StripControls.Designer.cs
Labels: test-enhancement

#3677 Fixes #3660
  src/System.Windows.Forms/tests/AccessibilityTests/PrintingTesting.Designer.cs
Labels: test-enhancement
